.pipeline-card{
    transition :0.2s linear;
}
.pipeline-card:hover{
     transform: translateY(-4px);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    cursor: pointer;
}
.pipeline-usercard{
     transition :0.2s linear;
}
.pipeline-usercard:hover{
     transform: translateY(-4px);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    cursor: pointer;
}